{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="wrapper">
        <section class="full-screen-intro">
            <div class="media-wapper bg-img8 cont-h-100per"></div>
            <div class="full-cap-wraper overlay-dark ">
                <div class="content-caption parallax parallax-opacity">
                    <div class="container wow fadeIn">
                        <h1 class="h4 white">Centre de Formation</h1>
                        <a href="/"> <img src="theme/base-2016/images/logo_sublima-2ff19fc2.png" alt="logo sublima" class=logo-banner> </a>
                        <div class="row">
                            <p class="lead col-md-6 col-md-offset-3 white">Microblading - Maquillage Permanent - Dermographie réparatrice</p>
                            <p class="lead col-md-6 col-md-offset-3 white">Tatouages - Extension de cils - Épilation au fil</p>
                        </div>
                        <br> </div>
                </div>
            </div>
            <div class="intro-scroll-down">
                <a class="scroll-down" href="#about"> <i class="fa fa-angle-double-down white fa-2x" aria-hidden=true></i> </a>
            </div>
        </section>
        <div class="clearfix"></div>
        <section id="about" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row mt-80">                    
                    <div class="spacer-30 hidden-sm hidden-md hidden-lg"></div>

                    {% setcontent actualites = 'actualites' %}
                	{% for actualite in actualites %}
                    <div class="wow fadeIn col-xs-12 col-md-4">
                        <h4 class=color>{{ actualite.title }}</h4>
                        <div>                           
                            <h5 class="h5"> {{ actualite.intro }} </h5> inscrivez-vous rapidement places limitées
                            {{ actualite.body }}
                    	</div>
                    </div>
                    {% endfor %}

                    <div class="col-xs-12 col-md-7 col-md-offset-1 pb">
                        {% setcontent formations_a_venir = 'formations_a_venir' %}
                        {% for formation_a_venir in formations_a_venir %}
                            <h4 class="color">{{ formation_a_venir.title }}</h4>
                            <div>
                                {{ formation_a_venir.contenu }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-img9 overlay-light white ptb-60 ptb-sm-80" id="statement">
            <div class="container text-center">
                <div class=row>
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="mb-15">DEVELOPPEZ VOS COMPETENCES PAR LA DIFFERENCE</h2>
                        <h6 class="color">Quel que soit votre profil ou votre projet, Sublima vous offre les moyens de réussir.</h6> </div>
                </div>
            </div>
        </section>

        <section id="service" class="pt pt-sm-80">
            <div class="wow fadeIn container text-center">
                <h3 class="color">Nos formations</h3>
                <div class="spacer-30"></div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <p class="lead">Nous choisir c'est: La garantie d'une formation de qualité théorique et pratique enseignée par des expertes dans leur domaine, du matériel aux normes françaises et une hygiène irréprochable.</p>
                </div>
                <div class="spacer-110"></div>
                <div class="row">
                	{% setcontent formations = 'formations' %}
                	{% for formation in formations %}
                    <div class="col-md-4 col-sm-6 mb-45 formation-index">
                        <a href="{{ formation.link }}">
                            <div class="page-icon-top image-formation">                            	
                                <img src="{{ thumbnail(formation.image, 400, 250)}}">
                            </div>
                            <h5>{{ formation.titre }}</h5>
                            <p>{{ formation.intro }}</p>
                            <div class="text-left"> <small>lire la suite</small> </div>
                        </a>
                    </div>  
                    {% endfor %}                  
                </div>
                <hr>
                <br>
                <div class=col-xs-12>
                    <p class=lead>Une formation vous interesse ?</p> <a href="/contact.html" class="btn btn-color-a">Nous contacter</a> </div>
            </div>
        </section>

        <section class="ptb ptb-sm-80 wow fadeIn">
            <div class=container>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h3 class="text-center color">Un lieu de qualité répondant aux exigences d'hygiène</h3>
                    <div class="spacer-60"></div>
                    <div class=row>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="owl-carousel image-slider o-flow-hidden">
                                <div class=item> <img src='theme/base-2016/images/lieu-a6e6fd91.jpg' alt="espace de formation qualité et hygiène"> </div>
                                <div class=item> <img src='theme/base-2016/images/lieu1-3a96b618.jpg' alt="lieu de qualité"> </div>
                                <div class=item> <img src='theme/base-2016/images/lieu2-b83bcbd5.jpg' alt="lieu aux normes d'hygiène"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb pb-sm-80">
            <div class="container">
                <h3 class="wow fadeInUp color">Notre équipe</h3>
                <div class="spacer-60"></div>
                <div class="row">
                	{% setcontent formateurs = 'formateurs' %}
                	{% for formateur in formateurs %}
	                    <div class="col-sm-12 col-sm-6 col-md-3">
	                        <div class="item">
	                            <div class="team-item nf-col-padding">
	                                <div class="team-item-img"> 	                                	
                                        <img src="{{ thumbnail(formateur.image, 220, 220)}}">
	                                    <div class="team-item-detail">
	                                        <div class="team-item-detail-inner light-color">
	                                            <h5>{{ formateur.name }}</h5>
	                                            <p>{{ formateur.competence }}</p>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="team-item-info">
	                                    <h5>{{ formateur.name }}</h5>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="spacer-60 visible-xs"></div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section id="testimonial" class="overlay-dark dark-bg ptb ptb-sm-80 bg-testimonials">
            <div class=container>
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class=item>
                        <div class="testimonial text-center dark-color">
                            <div class=container-icon><i class="fa fa-quote-right"></i></div>
                            <p class=lead>" Merci Odile pour la professionnalisme et tes qualités humaines, tu a réussis à nous mettre en confiance. Merci pour tout "</p>
                            <h6 class=quote-author>Vanessa de Lille <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6> </div>
                    </div>
                    <div class=item>
                        <div class="testimonial text-center dark-color">
                            <div class=container-icon><i class="fa fa-quote-right"></i></div>
                            <p class=lead>" Un grand merci à Odile formatrice pour son écoute, toujours aux petits soins auprès de ses élèves. De plus une hygiene à la perfection semblable à un bloc opératoire, une formation de durée intermédiaire, mais toujours en demande d'information. "</p>
                            <h6 class=quote-author>Franck de Hem <span style="font-weight: 400;">( Stagiaire )</span></h6> </div>
                    </div>
                    <div class=item>
                        <div class="testimonial text-center dark-color">
                            <div class=container-icon><i class="fa fa-quote-right"></i></div>
                            <p class=lead>" Bonne qualité de service, hygiène irréprochable, bon conseils. "</p>
                            <h6 class=quote-author>Christel de Lille <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6> </div>
                    </div>
                    <div class=item>
                        <div class="testimonial text-center dark-color">
                            <div class=container-icon><i class="fa fa-quote-right"></i></div>
                            <p class=lead>" Formation excellente et formatrice au top niveau. "</p>
                            <h6 class=quote-author>Julie de Loos-en-Gohelle <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6> </div>
                    </div>
                    <div class=item>
                        <div class="testimonial text-center dark-color">
                            <div class=container-icon><i class="fa fa-quote-right"></i></div>
                            <p class=lead>" Merci pour ton accueil ta patience et ta gentillesse "</p>
                            <h6 class=quote-author>Khalida de Lens <span style="font-weight: 400;">( Stagiaire Esthéticienne )</span></h6> </div>
                    </div>
                </div>
            </div>
        </section>        

        <a class=scroll-top> <i class="fa fa-angle-double-up" aria-hidden=true></i> </a>
    </div>
    <script src="/javascripts/all-f16802c7.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa crossorigin=anonymous></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86241137-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock main %}
